/*selects all class descendents of wall element*/
#wall *{
  display: none;
}

/*selects tag-2*/
#wall div#tag-2{
  display: none;
}

/*selects tag-3*/
div#wall #tag-3.slick.wicked{
  display: none;
}
